#block_worldclock .university_box {
	/*background: url('[[pix:block_bath_worldclock|university]]') !important;*/
	background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #CEBEBE;
    border: 1px solid grey;
	border-radius: 5px;
	min-height: 50px;
	padding: 10px;
}
